{% extends "_base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow rounded">
        <div class="card-body text-center">
            <h2 class="mb-4 text-danger"><i class="fas fa-exclamation-triangle"></i> Confirmar Exclusão</h2>
            <p class="mb-4">
                Tem certeza que deseja excluir o equipamento <strong>{{ equipamento.nome }}</strong>?
            </p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'listar_equipamentos' %}" class="btn btn-secondary me-2">
                    <i class="fas fa-arrow-left"></i> Cancelar
                </a>
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Excluir
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}