{% extends "_base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Detalhe equipamento</h1>

    <div class="table-responsive shadow rounded">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr><th>Nome</th scope="col"><td>{{ equipamento.nome }}</td></tr>
                <tr><th>Modelo</th scope="col"><td>{{ equipamento.modelo }}</td></tr>
                <tr><th>Número de série</th scope="col"><td>{{ equipamento.numero_serie }}</td></tr>
                <tr><th>Fabricante</th scope="col"><td>{{ equipamento.fabricante }}</td></tr>
                <tr><th>Data de Aquisição</th scope="col"><td>{{ equipamento.data_aquisicao }}</td></tr>
                <tr><th>Status</th scope="col"><td>{{ equipamento.status }}</td></tr>
                <tr>
                    <th>Setores</th>
                    <td>
                        {% if equipamento.setores.exists %}
                            <ul class="list-unstyled mb-0">
                                {% for setor in equipamento.setores.all %}
                                    <li>
                                        <a href="{% url 'detalhe_setor' setor.id %}">
                                            {{ setor.nome }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <em>Sem setor associado</em>
                        {% endif %}
                    </td>
                </tr>
            </thead>
        </table>
    </div>

    <br>
    <a href="/equipamentos/">
        <button class="btn btn-dark">Voltar</button>
    </a>
</div>
{% endblock %}
